<div class="registration">
  <h3>Resend Confirmation Instructions</h3>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

      <div><%= f.label :email %>
        <%= f.text_field :email %></div>

      <span class="redButton"><input type="submit" value="Resend"/></span>
  <% end %>

  <%= render :partial => "users/shared/links" %>
</div>