<% title "Dashboard" %>
<div class="project_pages">
  <h1>DASHBOARD</h1>

  <div id="my_projects" class="content_selection left_column">
    <span class="inner">
      <div id="my_projects_list">
        <h2>My Projects
          <a id="create_new_project_button" class="blueButton">CREATE PROJECT +</a>
        </h2>
        <%= render :partial => 'projects/new_project_form' %>
        <div id="project_list" class="project_list">
          <% if @projects.present? %>
              <% @projects.each do |project| %>
                  <%= render :partial => 'projects/project_box', :locals => {:project => project} %>
              <% end %>
          <% else %>
              <div id="no_project_message">
                You have not created any project as of now.
              </div>
          <% end %>
        </div>
      </div>
    </span>
  </div>
  <div id="activity_feed" class="content_selection right_column">
    <div id="activity_feed_items">
      <h2>
        <span>Recent Activities</span>
        <a class="activity_feed_subscribe_link" title="Coming Soon" href="#">subscribe</a>
      </h2>
      <ul class="list">
        <% if @user_project_activities.present? %>
            <% @user_project_activities.each do |workable_item_history| %>
                <li>
                  <div class="secondary_details">
                    <% workable_item_type = workable_item_history.workable_item.type.downcase %>
                    <img src=<%= "/images/#{workable_item_type}.png" %> alt=<%= workable_item_type %>>
                    <span class="activity_occurred_at">
                      <%= distance_of_time_in_words(Time.now, workable_item_history.created_at, true) %> ago
                    </span>
                  </div>
                  <div class="main_details">
                    <h3 class="project_name">
                      <%= link_to workable_item_history.workable_item.project.name, workable_item_history.workable_item.project %>
                    </h3>
                    <span title="<%= workable_item_history.event %>" class="activity_description">
                      <%= "#{workable_item_history.user.email} #{truncate(workable_item_history.event, :length => 23)}" %>
                    </span>

                    <p>
                      <%= link_to truncate(workable_item_history.workable_item.title, :length => 63),
                                  workable_item_history.workable_item.project,
                                  :class => "story_name",
                                  :title => workable_item_history.workable_item.title %>
                    </p>
                  </div>
                </li>
            <% end %>
            <li><%= paginate @user_project_activities %></li>
        <% else %>
            <li>No activities for any of your projects!!</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>