<% title "Dashboard" %>
<div class="dashboard_page">
  <h1>DASHBOARD</h1>

  <div id="my_projects" class="content_selection left_column">
    <span class="inner">
      <div id="my_projects_list">
        <h2>My Projects
          <a id="create_new_project_button" class="blueButton">CREATE PROJECT +</a>
        </h2>

        <!--//////////////////////////////////////////////////-->

        <%= form_for Project.new , :remote => true do |f| %>
            <div id="new_project_form" title="Create New Project">
              <p class="validateTips">All form fields are required.</p>
              <fieldset>
                <label for="name">Project Name</label>
                <%= f.text_field :name, :class => "text ui-widget-content ui-corner-all", :id => "name" %>
                <label for="description">Description</label>
                <%= f.text_field :description, :class => "text ui-widget-content ui-corner-all", :id => "description" %>
                <label for="estimate_bugs">Estimate Bugs?</label>
                <%= f.check_box :estimate_bugs, :class => "ui-widget-content", :id => "estimate_bugs" %>
                <label for="estimate_chores">Estimate Chores?</label>
                <%= f.check_box :estimate_chores, :class => "ui-widget-content", :id => "estimate_chores" %>
                <label for="start_date">Start Date</label>
                <%= f.date_select :start_date, :start_year => DateTime.now.year, :order => [:day, :month, :year], :id => "start_date" %>
              </fieldset>
            </div>
        <% end %>

        <!--//////////////////////////////////////////////////-->

        <div class="project_list">
          <% if @projects.present? %>
              <% @projects.each do |project| %>
                  <%= link_to project, :class => "project_name" do %>
                      <div class="project_box">
                        <div class="project_title"><%= project.name.capitalize %></div>
                        <div class="project_box_hover_links">
                          <%= link_to 'show', project, :class => "hover_link" %>
                          <%= link_to 'members', project_member_invitations_path(:project => project) %>
                        </div>
                      </div>
                  <% end %>
              <% end %>
          <% else %>
              You have not created any project as of now.
              <br/>
          <% end %>
        </div>
      </div>
    </span>
  </div>
  <div id="activity_feed" class="content_selection right_column">
    <div id="activity_feed_items">
      <h2>
        <span>Recent Activities</span>
        <a class="activity_feed_subscribe_link" href="#">subscribe</a>
      </h2>
      <ul class="list">
        <% user_project_activities = current_user.all_workable_item_histories_for_all_my_projects %>
        <% if user_project_activities.present? %>
            <% user_project_activities.each do |workable_item_history| %>
                <li>
                  <div class="secondary_details">
                    <% workable_item_type = workable_item_history.workable_item.type.downcase %>
                    <img src=<%= "/images/#{workable_item_type}.png" %> alt=<%= workable_item_type %>>
                    <span class="activity_occurred_at">
                      <%= distance_of_time_in_words(Time.now, workable_item_history.created_at, true) %> ago
                    </span>
                  </div>
                  <div class="main_details">
                    <h3 class="project_name">
                      <%= link_to workable_item_history.workable_item.project.name, workable_item_history.workable_item.project %>
                    </h3>
                    <span title="<%= workable_item_history.event %>" class="activity_description">
                      <%= "#{workable_item_history.user.email} #{truncate(workable_item_history.event, :length => 23)}" %>
                    </span>

                    <p>
                      <%= link_to truncate(workable_item_history.workable_item.title, :length => 63),
                                  workable_item_history.workable_item.project,
                                  :class => "story_name",
                                  :title => workable_item_history.workable_item.title %>
                    </p>
                  </div>
                </li>
            <% end %>
        <% else %>
            <li>No activities for any of your projects!!</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>