<table>
  <tr>
    <th>Comment</th>
    <th>Workable item</th>
    <th>Posted by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= comment.workable_item_id %></td>
        <td><%= comment.posted_by %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>