<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Workable item:</b>
  <%= @comment.workable_item_id %>
</p>

<p>
  <b>Posted by:</b>
  <%= User.find(@comment.posted_by).email %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to "Back to #{@comment.workable_item.type}", @comment.workable_item %>
