<%= form_for([:project, @project_member_invitation], :remote => true) do |f| %>
  <% if @project_member_invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_member_invitation.errors.count, "error") %> prohibited this member invitation from being sent:</h2>

      <ul>
      <% @project_member_invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :initials %><br />
    <%= f.text_field :initials %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :invited_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
