<% title "Project Members" %>
<div class="project_pages members_page">
  <%= render :partial => 'projects/project_page_main_menu', :locals => {:project => @project, :sub_page => "Members"}%>

  <h2>Members</h2>

  <div id="members_module">
    <table class="listing_table" id="members_table">
      <tbody>
      <tr>
        <th class="name">Name</th>
        <th class="initials">Initials</th>
        <th class="email">Email</th>
        <th class="email">Invited By</th>
        <th class="role">Role</th>

        <th class="invitations">Status</th>
        <th class="remove"></th>
      </tr>
      <% @project_member_invitations.each do |project_member_invitation| %>
          <tr id="membership_row_252126">
            <td class="name">
              <%= project_member_invitation.name %>
            </td>
            <td class="initials"><%= project_member_invitation.initials %></td>
            <td class="email"><%= project_member_invitation.email %></td>
            <td class="invited_by_email"><%= User.find(project_member_invitation.invited_by).email %></td>
            <td class="role">
              <select>
                <option value="1">Owner</option>
                <option selected="selected" value="2">Member</option>
                <option value="3">Viewer</option>
              </select>
              <img style="visibility:hidden" src="/images/spinner_adding.gif" id="" class="spinner" alt="Spinner_adding">
            </td>
            <td class="invitations">
              <span><%= project_member_invitation.status.capitalize %></span>
            </td>
            <td class="remove">
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Add Member", new_project_project_member_invitation_path(@project) %>