<p>
  <b>Invitee Email:</b>
  <%= @project_member_invitation.email %>
</p>

<p>
  <b>For Project:</b>
  <%= @project_member_invitation.project.name %>
</p>

<p>
  <b>Invited By:</b>
  <%= User.find(@project_member_invitation.invited_by).email %>
</p>

<p>
  <b>Status:</b>
  <%= @project_member_invitation.status %>
</p>


<%= link_to 'Edit', edit_project_member_invitation_path(@project_member_invitation) %> |
<%= link_to 'Back', project_member_invitations_path(:project => @project_member_invitation.project) %>
