<table>
  <tr>
    <th>Description</th>
    <th>Created by</th>
    <th>Started by</th>
    <th>Finished by</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= User.find(task.created_by).email %></td>
        <td><%= task.started_by.present? ? User.find(task.started_by).email : '-' %></td>
        <td><%= task.finished_by.present? ? User.find(task.finished_by).email : '-' %></td>
        <td><%= task.status %></td>
        <td><%= render :partial => 'tasks/task_actions', :locals => {:task => task} %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>