<h1>Tasks for : <%= @workable_item.title %></h1>

<table>
  <tr>
    <th>Description</th>
    <th>Created by</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.description %></td>
    <td><%= User.find(task.created_by).email %></td>
    <td><%= task.status %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Task', new_task_path(:workable_item => @workable_item) %> |
<%= link_to @workable_item.project.name, workable_items_path(:project => @workable_item.project) %>
