<div class="controlPanel tabs" id="controlPanel">
  <div class="row" id="project_name_row">
    <div class="projectName" id="project_tabs">
      <ul>
        <% current_user.projects.each do |project| %>
            <% if project.eql?(current_project) %>
                <li class="current">
                  <span><%= project.name %></span>
                </li>
            <% else %>
                <li originalwidth="132">
                  <%= link_to project.name, project_path(project) %>
                  <span></span>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row" id="controls_search_velocity_row">
    <div class="right clearfix">
      <% if view.eql? "project" %>
          <a href="#" id="add_new_workable_control_button">Add Story +</a>
      <% end %>

      <span class="ieInputWrapper">
        <input type="text" autocomplete="off" size="20" id="searchString" name="searchString" value="" class="searchField">
      </span>

      <div id="velocity">
        <table id="projectStatus" class="projectStatusTable">
          <tbody>
          <tr>
            <td class="velocityLabel">velocity</td>
            <td>
              <div class="projectVelocity" id="velocity_projectVelocity"><%= current_project.velocity %></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <ul class="clearfix" id="buttonPanel">
      <div style="margin-right: 216px; float:right">
        <img style="display:none;" src="/images/ajax-loader.gif" class="spinner" alt="Spinner_adding">
      </div>
      <ul class="clearfix" id="panelList">
        <% if view.eql? "project" %>
            <% WorkableItem.categories.each do |category| %>
                <% button_class = 'selected' %>
                <% if category != 'icebox' %>
                    <% button_class = current_project.workable_items.where(:category => category).present? ? 'selected' : '' %>
                <% end %>
                <li>
                  <a id="<%= "#{category}_control_button" %>" href="#" class="<%= "button #{button_class}" %>"><%= category.capitalize %></a>
                </li>
            <% end %>
            <li>
              <%= link_to "Sprint View", sprint_project_path, :class => "button", :id => "show_sprint_button" %>
            </li>
        <% elsif view.eql? "sprint" %>
            <% sprint_work = @project.workable_items.select { |wi| wi.category.eql? "current" } %>
            <li>
              <a id="<%= "dev_ready_control_button" %>" href="#"
                 class="<%= "button #{sprint_work.select { |wi| wi.not_yet_started? }.present? ? "selected" : ""}" %>">
                Dev Ready
              </a>
            </li>
            <li>
              <a id="<%= "in_progress_control_button" %>" href="#"
                 class="<%= "button #{sprint_work.select { |wi| wi.started? }.present? ? "selected" : ""}" %>">
                In Progress
              </a>
            </li>
            <li>
              <a id="<%= "dev_done_control_button" %>" href="#"
                 class="<%= "button #{sprint_work.select { |wi| wi.finished? }.present? ? "selected" : ""}" %>">
                Dev Done
              </a>
            </li>
            <li>
              <a id="<%= "qa_ready_control_button" %>" href="#"
                 class="<%= "button #{sprint_work.select { |wi| wi.delivered? }.present? ? "selected" : ""}" %>">
                QA Ready
              </a>
            </li>
            <li>
              <a id="<%= "qa_done_control_button" %>" href="#"
                 class="<%= "button #{sprint_work.select { |wi| wi.accepted? or wi.rejected?}.present? ? "selected" : ""}" %>">
                QA Done
              </a>
            </li>
            <li>
              <%= link_to "Project View", project_path, :class => "button", :id => "show_project_button" %>
            </li>
        <% end %>
      </ul>
    </ul>
  </div>
</div>