<div class="controlPanel tabs" id="controlPanel">
  <div class="row" id="project_name_row">
    <div class="projectName" id="project_tabs">
      <ul>
        <% current_user.projects.each do |project| %>
            <% if project.eql?(current_project) %>
                <li class="current">
                  <span><%= project.name %></span>
                </li>
            <% else %>
                <li originalwidth="132">
                  <%= link_to project.name, project_path(project) %>
                  <span></span>
                </li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row" id="controls_search_velocity_row">
    <div class="right clearfix">

      <a href="#" id="add_new_workable_control_button">Add Story +</a>

      <span class="ieInputWrapper">
        <input type="text" autocomplete="off" size="20" id="searchString" name="searchString" value="" class="searchField">
      </span>

      <div id="velocity">
        <table id="projectStatus" class="projectStatusTable">
          <tbody>
          <tr>
            <td class="velocityLabel">velocity</td>
            <td>
              <div class="projectVelocity" id="velocity_projectVelocity"><%= current_project.velocity %></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <ul class="clearfix" id="buttonPanel">
      <ul class="clearfix" id="panelList">
        <% button_class = current_project.workable_items.present? ? 'selected' : '' %>
        <li><a id="done_control_button" href="#" class="<%= "button #{button_class}" %>">Done</a></li>
        <li><a id="current_control_button" href="#" class="<%= "button #{button_class}" %>">Current</a></li>
        <li><a id="backlog_control_button" href="#" class="<%= "button #{button_class}" %>">Backlog</a></li>
        <li><a id="icebox_control_button" href="#" class="button selected">Icebox</a></li>
      </ul>
    </ul>
  </div>
</div>