<div id="new_project_form" class="modal_form" title="Create New Project">
  <p class="validateTips"></p>
  <%= form_for Project.new, :remote => true do |f| %>
      <fieldset>
        <label for="name"><b>Project Name</b></label>
        <%= f.text_field :name, :class => "", :id => "name" %><br/>
        <label for="description"><b>Description</b></label>
        <%= f.text_area :description, :id => "description" %><br/>
        <%= f.hidden_field :estimate_bugs %>
        <%= f.hidden_field :estimate_chores %>
        <label for="start_date"><b>Start Date</b></label>
        <%= f.date_select :start_date, :start_year => DateTime.now.year, :order => [:day, :month, :year], :id => "start_date" %>
      </fieldset>
  <% end %>
</div>