<div class="project_title"><%= project.name.capitalize %></div>
<div class="project_box_hover_links">
  <% if current_user.belongs_to_project?(project) %>

      <%= link_to 'Stories', project, :class => "hover_link" %>
      <%= link_to 'Members', project_project_users_path(project),:class => "hover_link" %>
      <%= link_to 'Overview', overview_project_path(project), :class => "hover_link" %>
  <% else %>
      <%= link_to 'Join', join_project_path(project), :remote=> true %>
  <% end %>
</div>
<div class="velocity" title="Velocity: 4"><%= project.velocity %></div>