<h1><%= project.name %> : <%= sub_page %>
  <div class="right_link">
    <%= link_to "View Stories", project_path(project) %>
  </div>
</h1>
<div class="subnav clearfix">
  <ul class="buttons">
    <li>
      <%= link_to 'Overview', overview_project_path(project),
                  :class => "button #{sub_page.eql?("Overview") ? "current" : ""}" %>
    </li>
    <li>
      <a class="button" href="#">Settings</a>
    </li>
    <li>
      <%= link_to 'Members', project_project_users_path(project),
                  :class => "button #{sub_page.eql?("Members") ? "current" : ""}" %>
    </li>
    <li>
      <a class="button" href="#">Reports</a>
    </li>
    <li>
      <a class="button" href="#">Export</a>
    </li>
    <li>
      <a class="button" href="#">Import</a>
    </li>
    <li class="last">
      <%= link_to "Project Profile", edit_project_path(@project), :class => "button #{sub_page.eql?("Project Profile") ? "current" : ""}" %>
    </li>
  </ul>
</div>