<td id="<%= state %>" class="<%= "#{state} panel" %>" width="20%" style="<%= stories_in_state.present? ? "" : "display:none"%>">
  <div class="panelHeaderRight"></div>
  <div class="panelHeaderLeft"></div>
  <div class="panelHeader">
    <div id=<%= "#{state}_title" %>>
      <a href="#" class="closePanel panelLink" id='<%= "#{state}_close" %>' title="Close panel"></a>
      <span class="panelTitle"><%= state.gsub('_',' ').humanize %> </span>
      <span class="external_icon"></span>
    </div>
  </div>
  <div id="<%= "#{state}_item_list" %>" class="list">
    <div class="btm">
      <div class="right"></div>
      <div class="left"></div>
      <div class="mid"></div>
    </div>
    <div id="<%= "#{state}_items" %>" class="items">
      <div id="<%= "#{state}_scrolling_item_list" %>" class="inner scrolling_item_list">
        <% if stories_in_state.present? %>
            <% stories_in_state.each do |story| %>
                <%= render :partial => 'stories/story', :locals => {:story => story} %>
            <% end %>
        <% else %>
            <div id="no_stories" class="no_stories">
              Nothing yet.
            </div>
        <% end %>
        <div id="<%= "#{state}_item_list_end" %>" class="endOfList"></div>
      </div>
    </div>
  </div>
</td>