<div class="content_section">
  <h2>Story Trend
    <div class="right_link">
      <%= form_tag update_story_trend_report_project_path, :remote => true do %>
          <%= select_tag "from_sprint", options_for_select(@sprints_select.reverse.map{|i|["Sprint #{i}", i]}, @from_sprint) %>
          To : <%= select_tag "to_sprint", options_for_select(@sprints_select.reverse.map{|i|["Sprint #{i}", i]}, @to_sprint) %>
          <%= submit_tag "Show Trend" %>
      <% end %>
    </div>
  </h2>
  <div id="points_break_down_chart"></div>
  <script type="text/javascript" charset="utf-8">
      draw_story_trend_chart(<%= @sprints_from_to %>, <%= @chores_trend %>, <%= @bugs_trend %>, <%= @features_trend %>);
  </script>
</div>