<div class="content_section velocity">
  <h2>Velocity Trend
    <div class="right_link">
      <%= form_tag update_velocity_trend_report_project_path, :remote => true do %>
          <b>Sprints</b> From: <%= select_tag "from_sprint", options_for_select(@sprints_select, @from_sprint) %>
          To : <%= select_tag "to_sprint", options_for_select(@sprints_select, @to_sprint) %>
          <%= submit_tag "Show Trend" %>
      <% end %>
    </div>
  </h2>
  <div id="velocity_chart"></div>
  <script type="text/javascript" charset="utf-8">
      draw_velocity_trend_chart(<%= @velocity_trend %>, <%= @from_sprint %>);
  </script>
</div>