<div class="content_section velocity">
  <h2>Velocity Trend
    <div class="right_link">
      <%= form_tag update_velocity_trend_reports_project_path, :remote => true do %>
          Sprints From: <%= select_tag "from_sprint", options_for_select(@sprints) %>
          To : <%= select_tag "to_sprint", options_for_select(@sprints) %>
          <%= submit_tag "Show" %>
      <% end %>
    </div>
  </h2>
  <div id="velocity_chart"></div>
  <script type="text/javascript" charset="utf-8">
      draw_velocity_trend_chart(<%= @project_start_year %>,
              <%= @project_start_month %>,
              <%= @project_start_date %>,
              <%= @sprint_length %>,
              <%= @velocity_trend %>, <%= @from_sprint %>);
  </script>
</div>