<% if workable_items.blank? and !(category.eql?('icebox') or category.eql?('search'))
       category_display_class = 'display:none'
   end
%>
<td id="<%= "#{category}" %>" class="<%= "#{category} panel" %>" style="<%= category_display_class %>" width="25%">
  <div class="panelHeaderRight"></div>
  <div class="panelHeaderLeft"></div>
  <div class="panelHeader">
    <div id=<%= "#{category}_title" %>>
      <a href="#" class="closePanel panelLink" id='<%= "#{category}_close" %>' title="Close"></a>
      <span class="panelTitle"><%= category.eql?("search") ? "#{category.upcase} : #{search_term}" : category.upcase %> </span>
      <span class="external_icon"></span>
    </div>
  </div>
  <div id="<%= "#{category}_item_list" %>" class="list">
    <div class="btm">
      <div class="right"></div>
      <div class="left"></div>
      <div class="mid"></div>
    </div>
    <div id="<%= "#{category}_items" %>" class="items">
      <div id="<%= "#{category}_scrolling_item_list" %>" category="<%= "#{category}" %>" project_id="<%= "#{@project.id}" %>" class="inner scrolling_item_list">
        <% if category.eql?('icebox') %>
            <div id="new_workable_item">
              <%= render :partial => 'workable_items/new_workable_item', :locals => {:project => @project} %>
            </div>
        <% end %>
        <% if workable_items.present? %>
            <% workable_items.each do |workable_item| %>
                <%= render :partial => 'workable_items/workable_item', :locals => {:workable_item => workable_item} %>
            <% end %>
        <% else %>
            <% if category.eql?('icebox') and @project.workable_items.blank? %>
                <div id="no_workable_items" class="no_workable_items">
                  You have not got any work to do in this project yet. Hurry, and start working!!
                </div>
            <% elsif category.eql?('search') and workable_items.blank? %>
                <div id="no_workable_items" class="no_workable_items">
                  No results found! Please try again.
                  TIP: You can search by directly clicking on the labels and users.
                </div>
            <% end %>
        <% end %>
        <div id="<%= "#{category}_item_list_end" %>" class="endOfList"></div>
      </div>
    </div>
  </div>
</td>