<h1>Your AGILE Projects</h1>

<% if @projects.present? %>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Estimate Bugs</th>
        <th>Estimate Chores</th>
        <th>Start Date</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.estimate_bugs? %></td>
            <td><%= project.estimate_chores? %></td>
            <td><%= project.start_date %></td>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
      <% end %>
    </table>

<% else %>
    You have not created any project as of now.
    <br/>
<% end %>
<br/>

<%= link_to 'Create New Project', new_project_path %>
