<% title "Project Overview" %>
<div class="project_pages project_overview_page">
  <%= render :partial => 'projects/project_page_main_menu', :locals => {:project => @project, :sub_page => "Overview"} %>
  <div class="halfway_column has_right_spacer">
    <div class="content_section">
      <h2>
        <div class="right_link">
          <%= link_to "Edit", edit_project_path(@project) %>
        </div>
        Project Profile
      </h2>
      <div class="markdown_content">
        <p><%= @project.description %></p>
      </div>
    </div>
    <div class="content_section">
      <h2>Reports</h2>

      <div class="report_item">
        <a class="big_link" href="#">Progress Report</a>

        <p>Details the progress made on stories in a given time span.</p>
      </div>
      <div class="report_item">
        <a class="big_link" href="#">Members Report</a>

        <p>A count of all users on all projects detailing their usage.</p>
      </div>
      <div class="report_item">
        <a class="big_link" href="#">Points Breakdown</a>

        <p>A daily breakdown of story points by state.</p>
      </div>
    </div>
    <div class="content_section">
      <h2>Actions</h2>
      <table width="100%">
        <tbody>
        <tr>
          <td width="50%" valign="top">
            <a class="big_link" href="#">Export CSV</a>
            <%= link_to 'Import CSV', import_pivotal_csv_project_path(@project) %>
            <span class="text_example">(only from Pivotal Tracker!!)</span>
          </td>
          <td valign="top">
            <%= link_to 'Leave this project',
                        leave_project_path(@project),
                        :confirm => "You are going to leave the project #{@project.name}. Are you sure you want to do this? Once left, you can rejoin the project later from dashboard page.",
                        :title => "Leave project #{@project.name}. Are you sure you want to do this? Once left, you can rejoin the project later from dashboard page.",
                        :class => "big_link" %>
            <% if current_user.is_owner?(@project) %>
                <%= link_to 'Delete', @project,
                            :confirm => "You are going to permanently delete the project #{@project.name}. Deleting a project will delete all its related data as well and it can not be undone. Are you sure you want to do this?",
                            :title => "Permanently delete the project #{@project.name}. Deleting a project will delete all its related data as well and it can not be undone. Are you sure you want to do this?",
                            :method => :delete %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="halfway_column">
    <div class="content_section velocity">
      <h2>Velocity</h2>
      <div id="velocity_chart" style="width:360px; height:200px;"></div>
      <span class="heading"><span class="number"><%= @project.current_velocity %></span>velocity</span>
    </div>
    <div class="content_section">
      <h2>
        <div class="right_link">
          <% if current_user.can_manage_members_of(@project) %>
              <%= link_to 'Edit', project_project_users_path(@project) %>
          <% end %>
        </div>
        Members
      </h2>
      <table class="listing_table" id="members_table">
        <tbody>
        <% @project_users.select { |project_user| !project_user.user.eql? current_user }.each do |project_user| %>
            <tr>
              <td class="name">
                <%= project_user.user.name %>
              </td>
              <td class="initials"><%= project_user.user.initials %></td>
              <td class="email"><%= project_user.user.email %></td>
            </tr>
        <% end %>
        <tr class="minilinks">
          <td colspan="3">
            <%= paginate @project_users %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var velocity_chart_data_series = <%= velocity_chart_series(@project, @project.sprint_length.weeks.ago) %>;
  var velocity_chart_point_start = <%= @project.sprint_length.weeks.ago.at_midnight.to_i * 1000 %>;
  var velocity_chart_point_interval = <%= 1.day * 1000 %>;
  draw_velocity_trend_chart(velocity_chart_point_start, velocity_chart_point_interval, velocity_chart_data_series);
</script>
