<% title "Project Overview" %>
<div class="project_pages">
  <%= render :partial => 'projects/project_page_main_menu', :locals => {:project => @project, :sub_page => "Overview"} %>
  <div class="halfway_column has_right_spacer">
    <div class="content_section">
      <h2>
        <div class="right_link">
          <%= link_to "Edit", edit_project_path(@project) %>
        </div>
        Project Profile
      </h2>
      <div class="markdown_content">
        <p><%= @project.description %></p>
      </div>
    </div>
    <div class="content_section">
      <h2>Reports</h2>
      <div class="report_item">
        <a class="big_link" href="#">Progress Report</a>
        <p>Details the progress made on stories in a given time span.</p>
      </div>
      <div class="report_item">
        <a class="big_link" href="#">Members Report</a>
        <p>A count of all users on all projects detailing their usage.</p>
      </div>
      <div class="report_item">
        <a class="big_link" href="#">Points Breakdown</a>
        <p>A daily breakdown of story points by state.</p>
      </div>
    </div>
    <div class="content_section">
      <h2>Actions</h2>
      <table width="100%">
        <tbody>
        <tr>
          <td width="50%" valign="top">
            <a class="big_link" href="#">Export CSV</a>
            <a class="big_link" href="#">Import CSV</a>
          </td>
          <td valign="top">
            <a class="big_link" href="#">Leave this project</a>
            <a class="big_link" href="#">Archive</a>
            <a class="big_link" href="#">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="halfway_column">
    <div class="content_section velocity">
      <h2>Velocity</h2>
      <img src="https://www.pivotaltracker.com/google_chart?cht=bvs&amp;chd=t:9.2,8.2,23.2,12.2,14.2,11.2,4.2,11.2,11.2,2.2,33.2,9.2,35.2,8.2,18.2,4.2,2.2,11.2,19.2,19.2&amp;chs=320x65&amp;chds=0,35.2&amp;chco=88c2e5&amp;chbh=11,1&amp;chf=bg,s,FFFFFF00&amp;chxt=x,y&amp;chxs=0,000000,1,0,_%7C1,000000,1,0,_&amp;chxl=0:%7C%7C1:%7C" alt="">
      <span class="heading"><span class="number">14</span>velocity</span>
    </div>
    <div class="content_section">
      <h2>
        <div class="right_link">
          <%= link_to 'Edit', project_project_users_path(@project) %>
        </div>
        Members
      </h2>
      <table class="listing_table" id="members_table">
        <tbody>
        <tr>
          <td class="name">
            Adam Elliot
          </td>
          <td class="initials">AE</td>
          <td class="email">aelliot@crri.co.in</td>
        </tr>
        <tr>
          <td class="name">
            Amitava Basak
          </td>
          <td class="initials">AB</td>
          <td class="email">abasak@crri.co.in</td>
        </tr>
        <tr class="minilinks">
          <td colspan="3">

            <div class="pagination"><span class="disabled prev_page">« Previous</span> <span class="current">1</span>
              <a rel="next" href="/projects/68195/overview?page=2">2</a> <a href="/projects/68195/overview?page=3">3</a>
              <a href="/projects/68195/overview?page=4">4</a> <a href="/projects/68195/overview?page=5">5</a>
              <a href="/projects/68195/overview?page=6">6</a>
              <a rel="next" class="next_page" href="/projects/68195/overview?page=2">Next »</a></div>
            <%= link_to 'Edit project member list', project_project_users_path(@project) %>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>