<h1>  <%= @project.name %></h1>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<h2>Items</h2>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Description</th>
    <th>Requester</th>
    <th>Owner</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @project.workable_items.each do |workable_item| %>
      <tr>
        <td><%= workable_item.type %></td>
        <td><%= workable_item.title %></td>
        <td><%= workable_item.description %></td>
        <td><%= User.find(workable_item.requester).email %></td>
        <td><%= workable_item.owner %></td>
        <td><%= workable_item.status %></td>
        <td><%= link_to 'Show', workable_item %></td>
        <td><%= link_to 'Edit', edit_workable_item_path(workable_item) %></td>
        <td><%= link_to 'Destroy', workable_item, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Members', project_member_invitations_path(:project => @project) %> |
<%= link_to 'Add Story', new_workable_item_path(:project => @project, :type => "Story") %> |
<%= link_to 'Add Bug', new_workable_item_path(:project => @project, :type => "Bug") %> |
<%= link_to 'Add Chore', new_workable_item_path(:project => @project, :type => "Chore") %>
