<% title @project.name.camelcase %>
<%= render :partial => 'control_panel', :locals => {:current_project => @project} %>
<div class="story_content">
  <table id="layout" class="layout" cellspacing="16px">
    <tbody>
    <tr>
      <% if !@project.workable_items.present?
             category_display_class = 'display:none'
         end
      %>
      <% WorkableItem.categories.each do |category| %>
          <% if category.eql?('icebox')
                 category_display_class = "";
             end %>
          <td id="<%= category %>" class="<%= "#{category} panel" %>" style="<%= category_display_class %>" width="25%">
            <div class="panelHeaderRight"></div>
            <div class="panelHeaderLeft"></div>
            <div class="panelHeader">
              <div id=<%= "#{category}_title" %>>
                <a href="#" class="closePanel panelLink" id='<%= "#{category}_close" %>' title="Close panel"></a>
                <span class="panelTitle"><%= category.upcase %> </span>
                <span class="external_icon"></span>
            <span class="panelSubtitle">
              displaying last 12 iterations (<a href="?include_all_iterations=true" class=<%= "show#{category.capitalize}StoriesLink" %>>show
              all</a>)
            </span>
              </div>
            </div>
            <div id="<%= "#{category}_itemList" %>" class="list">
              <div class="btm">
                <div class="right"></div>
                <div class="left"></div>
                <div class="mid"></div>
              </div>
              <div id="<%= "#{category}_itemList_items" %>" class="items">
                <div class="inner scrolling_item_list">
                  <div>
                    <% if category.eql?('icebox') %>
                        <%
                           @workable_item = WorkableItem.new
                           @workable_item.project = @project
                           @workable_item.requester = current_user.id
                        %>
                        <%= render :partial => 'workable_items/new_workable_item', :locals => {:workable_item => @workable_item} %>
                    <% end %>
                    <% workable_items_in_category = @project.workable_items.select { |wi| wi.category == category } %>
                    <% if workable_items_in_category.present? %>
                        <%= render :partial => 'workable_items/workable_items_collection',
                                   :locals => {:workable_items => @project.workable_items.select { |wi| wi.category == category }} %>
                    <% else %>
                        <% if category.eql?('icebox') %>
                            <div id="no_workable_items" class="no_workable_items">You have not got any work to do in
                              this
                              project yet. Hurry, and start working!!
                            </div>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<script>
    $("#backlog_close").click(function () {
        $("#backlog").hide();
        $("#backlog_control_button").removeClass('selected');
    });
    $("#current_close").click(function () {
        $("#current").hide();
        $("#current_control_button").removeClass('selected');
    });
    $("#done_close").click(function () {
        $("#done").hide();
        $("#done_control_button").removeClass('selected');
    });
    $("#icebox_close").click(function () {
        $("#icebox").hide();
        $("#icebox_control_button").removeClass('selected');
    });

    $("#backlog_control_button").click(function () {
        $("#backlog").toggle();
        $("#backlog_control_button").toggleClass('selected');
    });
    $("#current_control_button").click(function () {
        $("#current").toggle();
        $("#current_control_button").toggleClass('selected');
    });
    $("#done_control_button").click(function () {
        $("#done").toggle();
        $("#done_control_button").toggleClass('selected');
    });
    $("#icebox_control_button").click(function () {
        $("#icebox").toggle();
        $("#icebox_control_button").toggleClass('selected');
    });
    $("#add_new_workable_control_button").click(function () {
        $("#icebox").show();
        $("#no_workable_items").hide();
        $("#icebox_new_workable_item_detail").show();
    });
    $(".toggleExpandedButton").click(function() {
        var id = $(this).attr('id');
        $("#"+id.replace('editButton', 'preview')).hide();
        $("#"+id.replace('editButton', 'detail')).show();
    });
    $(".cancelEditButton").click(function() {
        var id = $(this).attr('id');

        $("#"+id.replace('cancel_edit_button', 'preview')).show();
        $("#"+id.replace('cancel_edit_button', 'detail')).hide();
    });
</script>
