<% title @project.name.camelcase %>
<%= render :partial => 'control_panel', :locals => {:current_project => @project} %>
<div class="story_content">
  <table id="layout" class="layout" cellspacing="16px">
    <tbody>
    <tr id="containment-wrapper">
      <% if !@project.workable_items.present?
             category_display_class = 'display:none'
         end
      %>
      <% WorkableItem.categories.each do |category| %>
          <% if category.eql?('icebox')
                 category_display_class = "";
             end %>
          <td id="<%= category %>" class="<%= "#{category} panel" %>" style="<%= category_display_class %>" width="25%">
            <div class="panelHeaderRight"></div>
            <div class="panelHeaderLeft"></div>
            <div class="panelHeader">
              <div id=<%= "#{category}_title" %>>
                <a href="#" class="closePanel panelLink" id='<%= "#{category}_close" %>' title="Close panel"></a>
                <span class="panelTitle"><%= category.upcase %> </span>
                <span class="external_icon"></span>
            <span class="panelSubtitle">
              displaying last 12 iterations (<a href="?include_all_iterations=true" class=<%= "show#{category.capitalize}StoriesLink" %>>show
              all</a>)
            </span>
              </div>
            </div>
            <div id="<%= "#{category}_itemList" %>" class="list">
              <div class="btm">
                <div class="right"></div>
                <div class="left"></div>
                <div class="mid"></div>
              </div>
              <div id="<%= "#{category}_itemList_items" %>" class="items">
                <div class="inner scrolling_item_list">
                  <div>
                    <% if category.eql?('icebox') %>
                        <%
                           @workable_item = WorkableItem.new
                           @workable_item.project = @project
                           @workable_item.requester = current_user.id
                           @workable_item.category = 'icebox'
                        %>
                        <%= render :partial => 'workable_items/workable_item', :locals => {:workable_item => @workable_item} %>
                    <% end %>
                    <% workable_items_in_category = @project.workable_items.select { |wi| wi.category == category } %>
                    <% if workable_items_in_category.present? %>
                        <%= render :partial => 'workable_items/workable_items_collection',
                                   :locals => {:workable_items => @project.workable_items.select { |wi| wi.category == category }} %>
                    <% else %>
                        <% if category.eql?('icebox') and !@project.workable_items.present? %>
                            <div id="no_workable_items" class="no_workable_items">You have not got any work to do in
                              this
                              project yet. Hurry, and start working!!
                            </div>
                        <% end %>
                    <% end %>
                    <div id="<%= "#{category}_itemList_endOfList" %>" class="endOfList"></div>
                  </div>
                </div>
              </div>
            </div>
          </td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    estimate_bugs = <%= @project.estimate_bugs? %>;
    estimate_chores = <%= @project.estimate_chores? %>;
</script>