<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Add Members', new_pending_invitation_path(:project => @project) %> |
<%= link_to 'Add Story', new_story_path(:project => @project) %>
