<h1> Project : <%= @project.name %></h1>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'My Projects', projects_path %> |
<%= link_to 'Members', project_member_invitations_path(:project => @project) %>


<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Estimate Bugs:</b>
  <%= @project.estimate_bugs? %>
</p>

<p>
  <b>Start Time:</b>
  <%= @project.start_date %>
</p>

<h2>Epics</h2>

<%= link_to 'Add Epic', new_epic_path(:project => @project) %>
<br/>
<br/>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Project</th>
    <th>Status</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @project.epics.each do |epic| %>
      <tr>
        <td><%= epic.title %></td>
        <td><%= epic.description %></td>
        <td><%= epic.project_id %></td>
        <td><%= epic.status %></td>
        <td><%= epic.user_id %></td>
        <td><%= link_to 'Show', epic %></td>
        <td><%= link_to 'Edit', edit_epic_path(epic) %></td>
        <td><%= link_to 'Destroy', epic, :confirm => 'Are you sure?', :method => :delete %>
          <% if !epic.finished? %>
              | <%= link_to "Break it Down", new_workable_item_path(:project => @project,:epic => epic, :type => "Story") %>
          <% end %>
        </td>

      </tr>
  <% end %>
</table>

<br/>

<h2>Stories Bugs And Chores</h2>
<%= link_to 'Add Story', new_workable_item_path(:project => @project, :type => "Story") %> |
<%= link_to 'Add Bug', new_workable_item_path(:project => @project, :type => "Bug") %> |
<%= link_to 'Add Chore', new_workable_item_path(:project => @project, :type => "Chore") %>
<br/>
<br/>

<%= render :partial => 'workable_items/workable_items_collection', :locals => {:workable_items => @project.workable_items} %>