<h1> Project : <%= @project.name %></h1>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'My Projects', projects_path %> |
<%= link_to 'Members', project_member_invitations_path(:project => @project) %>


<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Estimate Bugs:</b>
  <%= @project.estimate_bugs? %>
</p>

<p>
  <b>Start Time:</b>
  <%= @project.start_date %>
</p>

<h2>Epics</h2>

<%= link_to 'Add Epic', new_epic_path(:project => @project) %>
<br/>
<br/>
<%= render :partial => 'epics/epics_collection', :locals => {:epics => @project.epics} %>

<br/>

<h2>Stories Bugs And Chores</h2>
<%= link_to 'Add Story', new_workable_item_path(:project => @project, :type => "Story") %> |
<%= link_to 'Add Bug', new_workable_item_path(:project => @project, :type => "Bug") %> |
<%= link_to 'Add Chore', new_workable_item_path(:project => @project, :type => "Chore") %>
<br/>
<br/>

<%= render :partial => 'workable_items/workable_items_collection', :locals => {:workable_items => @project.workable_items} %>