<h1>  <%= @project.name %></h1>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>

  <h2>Stories</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Requester</th>
    <th>Owner</th>
    <th>Status</th>
  </tr>

<% @project.stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.description %></td>
    <td><%= story.requester %></td>
    <td><%= story.owner %></td>
    <td><%= story.status %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Add Members', new_pending_invitation_path(:project => @project) %> |
<%= link_to 'Add Story', new_story_path(:project => @project) %>
