<% title @project.name.camelcase %>
<%= render :partial => 'control_panel', :locals => {:current_project => @project} %>
<div class="story_content">
  <table id="layout" class="layout" cellspacing="16px">
    <tbody>
    <tr>
      <% if !@project.workable_items.present?
             category_display_class = 'display:none'
         end
      %>
      <% WorkableItem.categories.each do |category| %>
          <% if category.eql?('icebox')
                 category_display_class = "";
             end %>
          <td id="<%= category %>" class="<%= "#{category} panel" %>" style="<%= category_display_class %>" width="25%">
            <div class="panelHeaderRight"></div>
            <div class="panelHeaderLeft"></div>
            <div class="panelHeader">
              <div id=<%= "#{category}_title" %>>
                <a href="#" class="closePanel panelLink" id='<%= "#{category}_close" %>' title="Close panel"></a>
                <span class="panelTitle"><%= category.upcase %> </span>
                <span class="external_icon"></span>
            <span class="panelSubtitle">
              displaying last 12 iterations (<a href="?include_all_iterations=true" class=<%= "show#{category.capitalize}StoriesLink" %>>show
              all</a>)
            </span>
              </div>
            </div>
            <div id="<%= "#{category}_itemList" %>" class="list">
              <div class="btm">
                <div class="right"></div>
                <div class="left"></div>
                <div class="mid"></div>
              </div>
              <div id="<%= "#{category}_itemList_items" %>" class="items">
                <div class="inner scrolling_item_list">
                  <div>
                    <% if category.eql?('icebox') %>
                        <%
                           @workable_item = WorkableItem.new
                           @workable_item.project = @project
                           @workable_item.requester = current_user.id
                           @workable_item.category = 'icebox'
                        %>
                        <%= render :partial => 'workable_items/workable_item', :locals => {:workable_item => @workable_item} %>
                    <% end %>
                    <% workable_items_in_category = @project.workable_items.select { |wi| wi.category == category } %>
                    <% if workable_items_in_category.present? %>
                        <%= render :partial => 'workable_items/workable_items_collection',
                                   :locals => {:workable_items => @project.workable_items.select { |wi| wi.category == category }} %>
                    <% else %>
                        <% if category.eql?('icebox') and !@project.workable_items.present? %>
                            <div id="no_workable_items" class="no_workable_items">You have not got any work to do in
                              this
                              project yet. Hurry, and start working!!
                            </div>
                        <% end %>
                    <% end %>
                    <div id="<%= "#{category}_itemList_endOfList" %>" class="endOfList"></div>
                  </div>
                </div>
              </div>
            </div>
          </td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<script>

    $("#backlog_close").click(function () {
        $("#backlog").hide();
        $("#backlog_control_button").removeClass('selected');
    });
    $("#current_close").click(function () {
        $("#current").hide();
        $("#current_control_button").removeClass('selected');
    });
    $("#done_close").click(function () {
        $("#done").hide();
        $("#done_control_button").removeClass('selected');
    });
    $("#icebox_close").click(function () {
        $("#icebox").hide();
        $("#icebox_control_button").removeClass('selected');
    });

    $("#backlog_control_button").click(function () {
        $("#backlog").toggle();
        $("#backlog_control_button").toggleClass('selected');
    });
    $("#current_control_button").click(function () {
        $("#current").toggle();
        $("#current_control_button").toggleClass('selected');
    });
    $("#done_control_button").click(function () {
        $("#done").toggle();
        $("#done_control_button").toggleClass('selected');
    });
    $("#icebox_control_button").click(function () {
        $("#icebox").toggle();
        $("#icebox_control_button").toggleClass('selected');
    });
    $("#add_new_workable_control_button").click(function () {
        $("#icebox").show();
        $("#no_workable_items").hide();
        $("#icebox_new_workable_item_detail").show();
        $("#icebox_control_button").addClass('selected');
    });
    $(".toggleExpandedButton").click(function() {
        var id = $(this).attr('id');
        $("#" + id.replace('editButton', 'preview')).hide();
        $("#" + id.replace('editButton', 'detail')).show();
    });
    $(".cancelEditButton").click(function() {
        var id = $(this).attr('id');
        $("#" + id.replace('cancel_edit_button', 'preview')).show();
        $("#" + id.replace('cancel_edit_button', 'detail')).hide();
    });
    $('.workable_item_type_select').change(function() {
        var id = $(this).attr('id');
        $("#" + id + "_image").attr('src', "/images/" + $(this).attr('value') + ".png");
    });
    $('.workable_item_estimate_select').change(function() {
        var id = $(this).attr('id');
        $("#" + id + "_image").attr('src', "/images/estimate" + $(this).attr('value') + "pt.gif");
    });

    $(document).delegate(".workable_item_tasks", "mouseenter", function() {
        var id = $(this).attr('id');
        var task_description_id = $(this).attr('id').replace("task", "task_description");
        if (!$("#" + id.replace("task", "task_finish")).attr('checked')) {
            if ($("#" + task_description_id).is(":hidden")) {
                $("#" + id + "_actions").show();
            }

        }
    });

    $(document).delegate(".workable_item_tasks", "mouseleave", function() {
        var id = $(this).attr('id');
        $("#" + id + "_actions").hide();
    });


    $(document).delegate(".commentInfo", "mouseenter", function() {
        $("#" + $(this).attr('id').replace("comment", "delete_comment")).show();
    });

    $(document).delegate(".commentInfo", "mouseleave", function() {
        $("#" + $(this).attr('id').replace("comment", "delete_comment")).hide();
    });


    $(document).delegate(".delete_comment", "click", function() {

        var delete_comment_checkbox = $("#"+$(this).attr('id').replace("delete_comment", "delete_comment_checkbox"));

        if (delete_comment_checkbox.attr('checked')) {
            //trying to mark comment for non deletion
            $(delete_comment_checkbox).attr('checked', false);
            $(this).parent().parent().removeClass('item_to_delete');
        } else {
            //trying to mark task for deletion
            $(delete_comment_checkbox).attr('checked', true);
            $(this).parent().parent().addClass('item_to_delete');
        }
    });

    $(document).delegate(".delete_task", "click", function() {
        var finish_task_id = $(this).attr('id').replace('delete_task', 'task_finish');
        var edit_task_id = $(this).attr('id').replace('delete_task', 'edit_task');

        if ($($(this).children("input:checkbox")[0]).attr('checked')) {
            //trying to mark task for non deletion
            $("#" + finish_task_id).show();
            $("#" + edit_task_id).show();
            $($(this).children("input:checkbox")[0]).attr('checked', false);
            $(this).parent().parent().removeClass('item_to_delete');
        } else {
            //trying to mark task for deletion
            $("#" + finish_task_id).hide();
            $("#" + edit_task_id).hide();
            $($(this).children("input:checkbox")[0]).attr('checked', true);
            $(this).parent().parent().removeClass('finished_task');
            $(this).parent().parent().addClass('item_to_delete');
        }
    });

    $(document).delegate(".edit_task", "click", function() {
        var task_description_id = $(this).attr('id').replace("edit_task", "task_description");
        $("#" + task_description_id).show();

        var task_label_id = $(this).attr('id').replace("edit_task", "task_label");
        $("#" + task_label_id).hide();

        var task_id = $(this).attr('id').replace("edit_task", "task");

        var task_actions_id = $(this).attr('id').replace('edit_task', 'task_actions');
        $("#" + task_actions_id).hide();
    });

    $(document).delegate(".finish_task", "click", function() {
        var task_actions_id = $(this).attr('id').replace('task_finish', 'task_actions');
        if ($(this).attr('checked')) {
            $(this).attr('checked', true);
            $(this).parent().addClass('finished_task');
            $("#" + task_actions_id).hide();
        } else {
            $(this).attr('checked', false);
            $(this).parent().removeClass('finished_task');
            $("#" + task_actions_id).show();
        }

    });

    $(".new_task_text").focusin(function() {
        $(this).val('');
        $(this).addClass("textAreaFocus");
        var add_link_id = $(this).attr('id').replace('new_task_description', 'new_task_add_link');
        $("#" + add_link_id).show();
    });

    $(".new_task_text").focusout(function() {
        if ($(this).val() == '') {
            $(this).val('add new task');
            $(this).removeClass("textAreaFocus");
            var add_link_id = $(this).attr('id').replace('new_task_description', 'new_task_add_link');
            $("#" + add_link_id).hide();
        }
    });

    $(".new_comment_text").focusin(function() {
        $(this).val('');
        $(this).addClass("textAreaFocus");
        var add_link_id = $(this).attr('id').replace('new_comment_description', 'new_comment_add_link');
        $("#" + add_link_id).show();
    });

    $(".new_comment_text").focusout(function() {
        if ($(this).val() == '') {
            $(this).val('add new comment');
            $(this).removeClass("textAreaFocus");
            var add_link_id = $(this).attr('id').replace('new_comment_description', 'new_comment_add_link');
            $("#" + add_link_id).hide();
        }
    });

    function add_task_fields(link, association, content) {
        var new_id = new Date().getTime();
        var id_regexp = new RegExp("new_" + association, "g");

        var tasks_list_id = $(link).attr('id').replace("add_task", "tasks");
        $("#" + tasks_list_id).prepend(content.replace(id_regexp, new_id + "_" + association));

        var new_task_description_id = $(link).attr('id').replace("add_task", "new_task_description");
        $("#" + new_id + "_task_description").val($("#" + new_task_description_id).val());

        var new_task_label_id = $(link).attr('id').replace("add_task", "task_label");
        $("#" + new_id + "_task_label").text($("#" + new_task_description_id).val());
    }


    function add_comment_fields(link, association, content) {
        var new_id = new Date().getTime();
        var id_regexp = new RegExp("new_" + association, "g");

        var comments_list_id = $(link).attr('id').replace("add_comment", "comments");
        $("#" + comments_list_id).prepend(content.replace(id_regexp, new_id + "_" + association));

        var new_comment_description_id = $(link).attr('id').replace("add_comment", "new_comment_description");
        $("#" + new_id + "_comment_description").val($("#" + new_comment_description_id).val());

        var new_comment_label_id = $(link).attr('id').replace("add_comment", "comment_label");
        $("#" + new_id + "_comment_label").text($("#" + new_comment_description_id).val());
    }


</script>
