<% title "#{@project.name.camelcase} : Sprint" %>
<%= render :partial => 'projects/control_panel', :locals => {:view => "sprint"} %>
<div id="all_panels" class="story_content">
  <% sprint_work = @project.stories.includes([ :comments, :tasks, :labels, :story_attachments ]).select { |wi| wi.category.eql? "current" } %>
  <table id="layout" class="layout" cellspacing="16px">
    <tbody>
    <tr id="panels">
      <%= render :partial => 'projects/sprint_state_panel',
                 :locals => {:state => "dev_ready",
                             :stories_in_state => sprint_work.select { |wi| wi.not_yet_started? }} %>
      <%= render :partial => 'projects/sprint_state_panel',
                 :locals => {:state => "in_progress",
                             :stories_in_state => sprint_work.select { |wi| wi.started? }} %>
      <%= render :partial => 'projects/sprint_state_panel',
                 :locals => {:state => "dev_done",
                             :stories_in_state => sprint_work.select { |wi| wi.finished? }} %>
      <%= render :partial => 'projects/sprint_state_panel',
                 :locals => {:state => "qa_ready",
                             :stories_in_state => sprint_work.select { |wi| wi.delivered? }} %>
      <%= render :partial => 'projects/sprint_state_panel',
                 :locals => {:state => "qa_done",
                             :stories_in_state => sprint_work.select { |wi| wi.accepted? or wi.rejected? }} %>
    </tr>
    <tr style="display:none;" id="burndown">
      <td class="panel" colspan="6">
        <div class="panelHeaderRight"></div>
        <div class="panelHeaderLeft"></div>
        <div class="panelHeader">
          <div id="burndown_chart_title">
            <a href="#" class="closePanel panelLink" id="burndown_chart_close" title="Close panel"></a>
            <span class="panelTitle">Burndown Chart </span>
            <span class="external_icon"></span>
          </div>
        </div>
        <div id="_item_list" class="list">
          <div class="btm">
            <div class="right"></div>
            <div class="left"></div>
            <div class="mid"></div>
          </div>
          <div id="items" class="items">
            <div id="scrolling_item_list" class="inner scrolling_item_list">
              <div id="burndown_chart"></div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
    estimate_bugs = <%= @project.estimate_bugs? %>;
    estimate_chores = <%= @project.estimate_chores? %>;
    view = "sprint";

    var actual_burndown_chart_data_series = <%= @project.actual_burndown_data_series %>;
    var idle_burndown_chart_data_series = <%= @project.idle_burndown_data_series %>;
    var burndown_chart_point_start = <%= @project.current_sprint_start_date.at_midnight.to_i * 1000 %>;
    var burndown_chart_point_interval = <%= 1.day * 1000 %>;
    draw_burndown_chart(burndown_chart_point_start,
            burndown_chart_point_interval,
            actual_burndown_chart_data_series,
            idle_burndown_chart_data_series);
</script>