<h1><%= @epic.project.name %> : Epic</h1>
<p>
  <b>Title:</b>
  <%= @epic.title %>
</p>

<p>
  <b>Description:</b>
  <%= @epic.description %>
</p>

<p>
  <b>Project:</b>
  <%= @epic.project.name %>
</p>

<p>
  <b>Status:</b>
  <%= @epic.status %>
</p>

<p>
  <b>User:</b>
  <%= @epic.user.email %>
</p>

<%= render :partial => 'workable_items/workable_items_collection', :locals => {:workable_items => @epic.workable_items} %>

<%= link_to 'Edit', edit_epic_path(@epic) %> |
<%= link_to 'Back', project_path(@epic.project) %>
