<h1><%= @epic.project.name %> : Epic</h1>
<p>
  <b>Title:</b>
  <%= @epic.title %>
</p>

<p>
  <b>Description:</b>
  <%= @epic.description %>
</p>

<p>
  <b>Project:</b>
  <%= @epic.project.name %>
</p>

<p>
  <b>Status:</b>
  <%= @epic.status %>
</p>

<p>
  <b>User:</b>
  <%= @epic.user.email %>
</p>

<% @epic.stories.each do |story| %>
    <%= render :partial => 'stories/story', :locals => {:story => story} %>
<% end %>

<%= link_to 'Edit', edit_epic_path(@epic) %> |
<%= link_to 'Back', project_path(@epic.project) %>
<% if !@epic.finished? %>
    | <%= link_to "Break it Down", new_story_path(:project => @epic.project, :epic => @epic, :type => "Feature") %>
    | <%= link_to "Finish Epic", finish_epic_path(@epic) %>
<% end %>
