<div class="registration">
  <h3>Send Password Instructions</h3>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
        <%= f.email_field :email %></div>

      <span class="redButton"><input type="submit" value="Send Instructions"/></span>
  <% end %>

  <%= render :partial => "users/shared/links" %>
</div>