<div class="fileupload">
  <div class="fileupload-content">
      <table class="files"></table>
      <div class="fileupload-progressbar"></div>
  </div>
  <%= form_for WorkableItemAttachment.new, :html => { :multipart => true } do |f| %>
      <div class="fileupload-buttonbar">
          <label class="fileinput-button">
              <span>Add files...</span>
                <%= f.file_field :image, :multiple => true %>
                <%= f.hidden_field :workable_item_id, :value => workable_item.id %>
          </label>
          <button type="submit" class="start">Start upload</button>
      </div>
  <% end %>

</div>

<%= render :partial => "workable_item_attachments/template-upload" %>
<%= render :partial => "workable_item_attachments/template-download" %>