<p>
  <b>Event:</b>
  <%= @workable_item_history.event %>
</p>

<p>
  <b>User:</b>
  <%= @workable_item_history.user_id %>
</p>

<p>
  <b>Story:</b>
  <%= @workable_item_history.story_id %>
</p>


<%= link_to 'Edit', edit_story_history_path(@workable_item_history) %> |
<%= link_to 'Back', story_histories_path %>
