<% attachment_id = f.object.new_record? ? "new" : f.object.id %>
<li id="<%="#{attachment_id}_image_details" %>">
  <div class="attachment_thumbnail">
    <%= link_to image_tag(f.object.image.url(:thumb)), f.object.image.url(:original), :target => '_blank' %>
  </div>
  <div class="attachment_details_container clearfix">
    <ul class="attachment_details">
      <li class="name"><%= f.object.image_file_name %>
      </li>
      <li class="description" style="display: list-item;">
        <a class="edit" href="#">add a description</a>
      </li>
      <li class="edit_description" style="display: none;">
        <input type="text" maxlength="255" name="description">
        <button>Save</button>
        or <a class="cancel" href="#">cancel</a>
      </li>
      <li class="uploader">Uploaded by <%= f.object.user.display_name %></li>
      <li class="metadata"><%= f.object.image_file_size/1024 %>
        KB<span> on <%= f.object.image_updated_at.to_s(:pretty) %></span>
      </li>
      <li class="actions">
        <a href="/resource/download/4251343">Download</a>
        |
        <%= f.check_box :_destroy, :id => "#{attachment_id}_delete_image_checkbox", :style => "display:none;" %>
        <%= f.hidden_field :user_id %>
        <a id="<%= "#{attachment_id}_delete_image" %>" href="#" title="Remove Image" class="delete_image">
          Remove
        </a>
      </li>

    </ul>
  </div>
</li>