<% comment_id = f.object.new_record? ? "new" : f.object.id %>

<tr class="commentInfoRow">
  <td class="commentInfo" id="<%= "#{comment_id}_comment" %>">
    <div class="hightlight_row">
      <div>
          <span id="<%= "#{comment_id}_comment_owner" %>" class="highlight">
            <%= f.object.new_record? ? current_user.email : f.object.owner.email %>
          </span>
          <span id="<%= "#{comment_id}_comment_date" %>" class="italic">
            <%= distance_of_time_in_words(Time.now, f.object.new_record? ? Time.now : f.object.created_at, true) %> ago
          </span>
      </div>
      <%= f.check_box :_destroy, :id => "#{comment_id}_delete_comment_checkbox", :style => "display:none;" %>
      <% if f.object.owner.present? and f.object.owner.eql? current_user %>
          <a id="<%= "#{comment_id}_delete_comment" %>" href="#" title="Delete Comment" class="delete_comment" style="display:none;">
            <%= image_tag("delete.png", :alt => "Delete comment" ) %>
          </a>
      <% end %>
    </div>
  </td>
  <td>
  </td>
</tr>
<tr class="commentTextRow">
  <td class="commentText">
    <div class="commentText">
      <%= f.text_field :comment,
                       :id=>"#{comment_id}_comment_description",
                       :style => 'display:none;' %>

      <label id="<%= "#{comment_id}_comment_label" %>"><%= f.object.comment %></label>
    </div>
  </td>
</tr>