<%= form_for(@workable_item) do |f| %>
    <% if @workable_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@workable_item.errors.count, "error") %> prohibited this workable_item from being
            saved:</h2>

          <ul>
            <% @workable_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_field :description %>
    </div>
    <% if @workable_item.is_estimatable? %>
        <div class="field">
          <%= f.label :estimate %>
          <br/>
          <%= f.text_field :estimate %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :category %>
      <br/>
      <%= f.select(:category, %w[icebox backlog current]) %>
    </div>
    <%= f.hidden_field :requester %>
    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :type %>
    <%= f.hidden_field :epic_id %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
