<% if workable_item.new_record?
       item_unique_id = "icebox_new_workable_item"
       item_type_image_source = "/images/Story.png"
       item_estimate_image_source = "/images/estimate-1pt.gif"
   else
       item_unique_id = "#{workable_item.category}_#{workable_item.type.downcase}_#{workable_item.id}"
       item_type_image_source = "/images/#{workable_item.type}.png"
       item_estimate_image_source = "/images/estimate#{workable_item.estimate}pt.gif"
   end
%>

<div id="<%= "#{item_unique_id}_detail" %>" class="item" style="display:none">
<div id="<%= "#{item_unique_id}_content" %>" class="storyItem unscheduled unestimated underEdit jquery_file_upload">
<%= form_for(workable_item) do |f| %>
    <% project_users = workable_item.project.users %>
    <% if workable_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(workable_item.errors.count, "error") %> prohibited this workable_item from being
            saved:</h2>

          <ul>
            <% workable_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="storyPreviewHeader">
      <% if !workable_item.new_record? %>
          <div class="storySelector notDblclickable">&nbsp;</div>
          <div class="icons">
            <img id="<%= "#{item_unique_id}_cancel_edit_button" %>" class="toggleExpandedButton cancelEditButton" src="/images/story_expanded.png" title="Collapse">
          </div>
      <% end %>
      <div class="storyPreviewInput">
        <%= f.text_area :title, :cols => 1, :rows => 1, :class => 'titleInputField autoresize expand17-99999' %>
        <div class="clear">
        </div>
      </div>
    </div>
    <div class="storyDetailElement">
    <div class="storyDetails" id="story_newStory_details">
    <div class="buttons">
      <div class="storyDetailsButton">
        <%= f.submit('Save') %>
        <input id="<%= "#{item_unique_id}_cancel_edit_button" %>" class="cancelEditButton" type="button" value="Cancel">
        <% if !workable_item.new_record? %>
            <%= f.submit('Delete') %>
        <% else %>
            <input type="submit" value="Delete" disabled="disabled">
            <input type="submit" value="View history" disabled="disabled">
        <% end %>
      </div>
    </div>
    <table class="storyDetailsTable">
      <tbody>
      <tr>
        <td colspan="1" class="letContentExpand">
          <div>
            <%= f.select(:type, WorkableItem.types,
                         {:selected => workable_item.new_record? ? 'Story' : workable_item.type},
                         {:class => "storyDetailsField workable_item_type_select",
                          :id => "#{item_unique_id}_type"}) %>
          </div>
        </td>
        <td colspan="1" class="storyDetailsLabelIcon">
          <img id="<%= "#{item_unique_id}_type_image" %>" src="<%= item_type_image_source %>">
        </td>
        <td colspan="1" class="helpIcon lastCell">
          <div id="<%= "#{item_unique_id}_help_story_types" %>" class="helpIcon">
            <img src="/images/question_mark.gif">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div>
            <%= f.select(:estimate, WorkableItem.estimates,
                         {:selected => workable_item.new_record? ? -1 : workable_item.estimate},
                         {:class => "storyDetailsField workable_item_estimate_select",
                          :id => "#{item_unique_id}_estimate",
                          :disabled => (!workable_item.new_record? and !workable_item.is_estimatable?)}) %>
          </div>
        </td>
        <td colspan="1" class="storyDetailsLabelIcon">
          <% if workable_item.new_record? or workable_item.is_estimatable? %>
              <img id="<%= "#{item_unique_id}_estimate_image" %>" src="<%= item_estimate_image_source %>">
          <% end %>
        </td>
        <td colspan="1" class="helpIcon">
          <div id="<%= "#{item_unique_id}_help_estimates" %>" class="helpIcon">
            <img src="/images/question_mark.gif">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <%= f.collection_select(:requester, project_users, :user_id, :email, :class => "storyDetailsField") %>
          </div>
        </td>
        <td colspan="3">
          <label id="workable_item_requester_label" for="workable_item_requester">
            <div>
              <div class="emphasizedFieldLabel">requested</div>
              <div class="fieldLabel">this story</div>
            </div>
          </label>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <div>
            <%= f.collection_select(:owner, project_users, :user_id, :email, :prompt => true) %>
          </div>
        </td>
        <td colspan="3">
          <label id="workable_item_owner_label" for="workable_item_owner">
            <div>
              <div class="emphasizedFieldLabel">owns</div>
              <div class="fieldLabel">this story</div>
            </div>
          </label>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div class="section">-->
    <!--<div class="header">-->
    <!--<div class="label">Labels</div>-->
    <!--</div>-->
    <!--<div class="wrapper">-->
    <!--<input class="labels" name="story[labels]" style="display: none;">-->

    <!--<div class="labels saveable">-->
    <!--<img src="/images/labels_dropdown.png" class="labels_dropdown_arrow">-->
    <!--<ul>-->
    <!--<li style="position: relative;" data-value="solaro.in" class="">-->
    <!--<a class="text">-->
    <!--<span>solaro.in</span>-->
    <!--</a>-->
    <!--<a class="remove">-->
    <!--<span>x</span>-->
    <!--</a>-->
    <!--<input tabindex="-1" style="width: 0pt; height: 0pt; position: absolute; left: -10000em;">-->
    <!--</li>-->
    <!--</ul>-->
    <!--<input type="text" class="create ui-autocomplete-input" placeholder="" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">-->
    <!--<span style="position: absolute; top: -10000em; left: -10000em; width: auto; font-size: 12px; font-family: Arial,Helvetica,sans-serif; font-weight: 400; letter-spacing: normal; white-space: nowrap;">-->
    <!--</span>-->
    <!--</div>-->
    <!--<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 28px; left: 0px; display: none; width: 1196px;">-->
    <!--<li class="ui-menu-item" role="menuitem">-->
    <!--<a class="ui-corner-all" tabindex="-1">admin</a>-->
    <!--</li>-->
    <!--<li class="ui-menu-item" role="menuitem">-->
    <!--<a class="ui-corner-all" tabindex="-1">android</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <div class="section">
      <div class="storyDescriptionTable">
        <div class="header">
          <div class="label">Description</div>
          <div id="workable_item_description_details_help" class="helpIcon">
            <img src="/images/question_mark.gif">
          </div>
          <div class="clear">
          </div>
        </div>
        <div>
          <%= f.text_area :description, :cols => 1, :rows => 1, :class => 'textAreaFocus description_area autoresize expand17-99999' %>
        </div>
      </div>
    </div>
    <!--<div class="taskTableDiv">-->
    <!--<div class="section">-->
    <!--<div id="story_newStory_details_story[tasks_header]" class="header">Tasks <span class="count">(1)</span>-->
    <!--</div>-->
    <!--<ol class="task_list ui-sortable" style="">-->
    <!--<li class="task_temp1 ">-->

    <!--<input type="checkbox" disabled="disabled" value="1" name="task[complete_temp1]">-->

    <!--<div style="display: none;">-->
    <!--<textarea name="task[description_temp1]" class="autoresize expand17-10000">test</textarea>-->
    <!--</div>-->

    <!--<label>test</label>-->

    <!--</li>-->
    <!--</ol>-->
    <!--<div>-->
    <!--<form class="add_task">-->
    <!--<textarea name="task[description]" cols="1" rows="1" id="story_newStory_details_task[description]" class="tasksTextArea autoresize expand17-99999" style="height: 18px; overflow: hidden;">add-->
    <!--a task</textarea>-->
    <!--<input type="submit" value="Add">-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="attachmentWidget">-->
    <!--<div>-->
    <!--<div class="section attachments" id="attachment_field_for_newStory">-->
    <!--<div class="header">Attachments <span class="count">(1)</span>-->
    <!--</div>-->
    <!--<ol class="attachments_list">-->
    <!--<li>-->
    <!--<div class="attachment_thumbnail">-->

    <!--<a tabindex="-1" data-new-window="true" href="/resource/download/4251343?inline=true">-->
    <!--<img class="resource_image" alt="bug_step1.jpg" src="https://s3.amazonaws.com/prod.tracker2/resource/4251343/bug_step1_thumb.jpg?AWSAccessKeyId=AKIAIKWOAN6H4H3QMJ6Q&amp;Expires=1325750055&amp;Signature=3V%2FEoKu6Dwm8GTRUp7eB4Evoh1E%3D">-->
    <!--</a>-->

    <!--</div>-->
    <!--<div class="attachment_details_container clearfix">-->
    <!--<ul class="attachment_details">-->
    <!--<li class="name">bug_step1.jpg-->
    <!--</li>-->
    <!--<li class="description" style="display: list-item;">-->
    <!--<a class="edit" href="#">add a description</a>-->
    <!--</li>-->
    <!--<li class="edit_description" style="display: none;">-->
    <!--<input type="text" maxlength="255" name="description">-->
    <!--<button>Save</button>-->
    <!--or <a class="cancel" href="#">cancel</a>-->
    <!--</li>-->
    <!--<li class="uploader">Uploaded by Sanjeev Kumar Mishra</li>-->
    <!--<li class="metadata">77 KB<span> on 29 Dec 2011, 1:24pm</span>-->
    <!--</li>-->
    <!--<li class="actions">-->
    <!--<a href="/resource/download/4251343">Download</a>-->

    <!--| <a href="#" class="remove">Remove</a>-->

    <!--</li>-->

    <!--</ul>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <!--</div>-->
    <!--</div>-->
    <!--<form class="attachment_form jquery_file_upload" enctype="multipart/form-data" method="POST" action="/api/resource/upload?project_id=68195">-->
    <!--<div class="attachment_controls_wrapper">-->
    <!--<input type="file" multiple="" name="Filedata">-->
    <!--</div>-->
    <!--<div class="attach_files">-->
    <!--<span class="upload_button">Upload Files</span>-->

    <!--<span class="text">or, drag them onto this story</span>-->
    <!--</div>-->
    <!--<div style="display: none;" class="error_message">-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    </div>
    </div>
    <%= f.hidden_field :category %>
    <%= f.hidden_field :epic_id %>
    <%= f.hidden_field :project_id, {:value => workable_item.project.id} %>
<% end %>
</div>
</div>