<% workable_items.each do |workable_item| %>
    <% item_unique_id = "#{workable_item.category}_itemList_#{workable_item.type.downcase}_#{workable_item.id}" %>
    <% class_for_item = "unscheduled"
       if workable_item.new? and (workable_item.is_estimatable? and workable_item.estimate.present?)
           class_for_item = "unstarted"
       elsif workable_item.started?
           class_for_item = "started"
       elsif workable_item.finished?
           class_for_item = "finished"
       elsif workable_item.delivered?
           class_for_item = "delivered"
       elsif workable_item.rejected?
           class_for_item = "rejected"
       elsif workable_item.accepted?
           class_for_item = "accepted"
       end
    %>

    <div id="<%= item_unique_id %>" class="item">
      <div id="<%= item_unique_id %>_content" class="<%="storyItem #{class_for_item} notUnderEdit hoverable"%>">
        <div class="storyPreviewHeader">
          <div class="storySelector notDblclickable">&nbsp;</div>
          <div class="storyPreviewButtons" id="<%= item_unique_id %>_content_buttons">
            <%= render :partial => 'workable_items/workable_item_actions', :locals => {:workable_item => workable_item} %>
          </div>
          <div class="icons">
            <img id="<%= item_unique_id %>_content_icons_editButton" class="toggleExpandedButton" src="/images/story_collapsed.png" title="Expand">

            <div class="left">
              <img class="storyTypeIcon" src="/images/bug_external.png">
              <span width="6" class="estimateIcon">
                <% if workable_item.is_estimatable? %>
                <%= workable_item.estimate %>
                <% end %>
              </span>
              <img class="flyoverIcon" src="/images/story_flyover_icon.png">
            </div>
          </div>
          <div id="<%= item_unique_id %>_content_details" class="storyPreviewText" style="cursor: move;">
            <span id="<%= item_unique_id %>_content_labels_story[label_list]" class="storyLabels empty"></span>
            <span>
              <%= workable_item.title %>
              <% if User.find(workable_item.owner).present? %>
                  (<a href="javascript:void(0);" title="<%= email = User.find(workable_item.owner).email %>" class="storyOwnerInitials"><%= email %></a>)
                  <% end %>
            </span>
          </div>
        </div>
        <div class="storyDetailElement">
        </div>
      </div>
    </div>
<% end %>