<% workable_items.each do |workable_item| %>
    <% item_unique_id = "#{workable_item.category}_itemList_#{workable_item.type.downcase}_#{workable_item.id}" %>
    <div id="<%= item_unique_id %>" class="item">
      <div id="<%= item_unique_id %>_content" class="storyItem delivered notUnderEdit hoverable">
        <div class="storyPreviewHeader">
          <div class="storySelector notDblclickable">&nbsp;</div>
          <div class="storyPreviewButtons" id="<%= item_unique_id %>_content_buttons">
            <%= render :partial => 'workable_items/workable_item_actions', :locals => {:workable_item => workable_item} %>
          </div>
          <div class="icons">
            <img id="<%= item_unique_id %>_content_icons_editButton" class="toggleExpandedButton" src="/images/story_collapsed.png" title="Expand">

            <div class="left">
              <img class="storyTypeIcon" src="/images/bug_external.png">
              <img width="6" class="estimateIcon" src="https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_0pt_fibonacci.gif">
              <img class="flyoverIcon" src="/images/story_flyover_icon.png">
            </div>
          </div>
          <div id="<%= item_unique_id %>_content_details" class="storyPreviewText" style="cursor: move;">
            <span id="<%= item_unique_id %>_content_labels_story[label_list]" class="storyLabels empty"></span>
            <span>
              <%= workable_item.title %>
              <% if User.find(workable_item.owner).present? %>
                  (<a href="javascript:void(0);" title="<%= email = User.find(workable_item.owner).email %>" class="storyOwnerInitials"><%= email %></a>)
                  <% end %>
            </span>
          </div>
        </div>
        <div class="storyDetailElement">
        </div>
      </div>
    </div>
<% end %>