<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Description</th>
    <th>Requester</th>
    <th>Owner</th>
    <th>Status</th>
    <th>Estimate Pt</th>
    <th>Present Under</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% workable_items.each do |workable_item| %>
      <tr>
        <td><%= workable_item.type %></td>
        <td><%= workable_item.title %></td>
        <td><%= workable_item.description %></td>
        <td><%= User.find(workable_item.requester).email %></td>
        <td><%= workable_item.owner.present? ? User.find(workable_item.owner).email : '-' %></td>
        <td><%= workable_item.status %></td>
        <td><%= workable_item.estimate %></td>
        <td><%= workable_item.category %></td>
        <td><%= render :partial => 'workable_items/workable_item_actions', :locals => {:workable_item => workable_item} %></td>
        <% if !workable_item.accepted? %>
            <td><%= link_to 'Show', workable_item %></td>
            <td><%= link_to 'Edit', edit_workable_item_path(workable_item) %></td>
            <td><%= link_to 'Destroy', workable_item, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
  <% end %>
</table>