<% if workable_item.new_record?
       item_unique_id = "icebox_new_workable_item"
       item_type_image_source = "/images/Story.png"
       item_estimate_image_source = "/images/estimate-1pt.gif"
   else
       item_unique_id = "#{workable_item.id}"
       item_type_image_source = "/images/#{workable_item.type}.png"
       item_estimate_image_source = "/images/estimate#{workable_item.estimate}pt.gif"
   end
%>

<div id="<%= "#{item_unique_id}_detail" %>" class="item" style="display:none">
<div id="<%= "#{item_unique_id}_content" %>" class="storyItem unscheduled unestimated underEdit jquery_file_upload">
<%= form_for([workable_item.project, workable_item], :remote => true) do |project_form| %>
    <% project_users = workable_item.project.active_users %>

    <div class="storyPreviewHeader">
      <% if !workable_item.new_record? %>
          <div class="storySelector notDblclickable">&nbsp;</div>
          <div class="icons">
            <img id="<%= "#{item_unique_id}_cancel_edit_button" %>" class="toggleExpandedButton cancelEditButton" src="/images/story_expanded.png" title="Collapse">
          </div>
      <% end %>
      <div class="storyPreviewInput">
        <%= project_form.text_area :title,
                                   :cols => 1,
                                   :rows => 1,
                                   :id =>"#{item_unique_id}_title",
                                   :class => 'titleInputField autoresize expand17-99999' %>
        <div class="clear">
        </div>
      </div>
      <div class="text_example">e.g. As a role, I want goal so that benefit</div>
      <div class="error_message" id="<%= "#{item_unique_id}_workable_item_error_message" %>" style="display:none;"></div>
    </div>
    <div class="storyDetailElement">
    <div class="storyDetails" id="story_newStory_details">
      <div class="buttons">
        <div class="storyDetailsButton">
          <%= project_form.submit('Save') %>
          <input id="<%= "#{item_unique_id}_cancel_edit_button" %>" class="cancelEditButton" type="button" value="Cancel">
          <% if !workable_item.new_record? %>
              <%= link_to 'Delete', project_workable_item_path(workable_item.project, workable_item), :confirm => "Are you sure you want to delete the #{workable_item.type}?", :method => :delete, :remote => true %>
          <% else %>
              <input type="submit" value="Delete" disabled="disabled">
              <input type="submit" value="View history" disabled="disabled">
          <% end %>
        </div>
      </div>
      <table class="storyDetailsTable">
        <tbody>
        <tr>
          <td colspan="1" class="letContentExpand">
            <div>
              <%= project_form.select(:type, WorkableItem.types,
                                      {:selected => workable_item.new_record? ? 'Story' : workable_item.type},
                                      {:class => "storyDetailsField workable_item_type_select",
                                       :id => "#{item_unique_id}_type"}) %>
            </div>
          </td>
          <td colspan="1" class="storyDetailsLabelIcon">
            <img id="<%= "#{item_unique_id}_type_image" %>" src="<%= item_type_image_source %>">
          </td>
          <td colspan="1" class="helpIcon lastCell">
            <div id="<%= "#{item_unique_id}_help_story_types" %>" class="helpIcon">
              <img src="/images/question_mark.gif">
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <div>
              <%= project_form.select(:estimate, WorkableItem.estimates,
                                      {:selected => workable_item.new_record? ? -1 : workable_item.estimate},
                                      {:class => "storyDetailsField workable_item_estimate_select",
                                       :id => "#{item_unique_id}_estimate",
                                       :disabled => (!workable_item.new_record? and !workable_item.is_estimatable?)}) %>
            </div>
          </td>
          <td colspan="1" class="storyDetailsLabelIcon">
            <% if workable_item.new_record? or workable_item.is_estimatable? %>
                <img id="<%= "#{item_unique_id}_estimate_image" %>" src="<%= item_estimate_image_source %>">
            <% end %>
          </td>
          <td colspan="1" class="helpIcon">
            <div id="<%= "#{item_unique_id}_help_estimates" %>" class="helpIcon">
              <img src="/images/question_mark.gif">
            </div>
          </td>
        </tr>
        <% if !workable_item.new_record? %>
            <tr>
              <td>
                <div>
                  <%= project_form.select(:status, WorkableItem.aasm_states_for_select,
                                          {:class => "storyDetailsField workable_item_estimate_select",
                                           :id => "#{item_unique_id}_status"}) %>
                </div>
              </td>
              <td colspan="3">
              </td>
            </tr>
        <% end %>
        <tr>
          <td>
            <div>
              <%= project_form.collection_select(:requester, project_users, :id, :display_name, {}, {:class => "storyDetailsField"}) %>
            </div>
          </td>
          <td colspan="3">
            <label id="workable_item_requester_label" for="workable_item_requester">
              <div>
                <div class="emphasizedFieldLabel">requested</div>
                <div class="fieldLabel">this story</div>
              </div>
            </label>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <div>
              <%= project_form.collection_select(:owner, project_users, :id, :display_name, {:prompt => "none"}, {:class => "storyDetailsField"}) %>
            </div>
          </td>
          <td colspan="3">
            <label>
              <div>
                <div class="emphasizedFieldLabel">owns</div>
                <div class="fieldLabel">this story</div>
              </div>
            </label>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="section">
        <div class="header">
          <div class="label">Labels</div>
        </div>
        <div class="wrapper">
          <%= project_form.text_field :label_tokens,
                                      :class => "label_tokens",
                                      :id => "#{item_unique_id}_labels",
                                      "data-pre" => workable_item.labels.all.to_json,
                                      "data-url" => "/labels.json?project_id=#{workable_item.project.id}" %>
        </div>
      </div>

      <div class="section">
        <div class="storyDescriptionTable">
          <div class="header">
            <div class="label">Description</div>
            <div id="workable_item_description_details_help" class="helpIcon">
              <img src="/images/question_mark.gif">
            </div>
            <div class="clear">
            </div>
          </div>
          <div>
            <%= project_form.text_area :description, :cols => 1, :rows => 1, :class => 'textAreaFocus description_area autoresize expand17-99999' %>
          </div>
        </div>
      </div>
      <div class="taskTableDiv">
        <div class="section">
          <div id="<%= "#{item_unique_id}_tasks_header" %>" class="header">
            Tasks <span class="count">(<%= workable_item.tasks.count %>)</span>
          </div>
          <ol id="<%= "#{item_unique_id}_tasks" %>" class="task_list ui-sortable">
            <% project_form.fields_for :tasks do |task_builder| %>
                <%= render :partial => 'workable_items/task_fields', :locals => {:f => task_builder} %>
            <% end %>
          </ol>
          <div class="add_task">
            <textarea id="<%= "#{item_unique_id}_new_task_description" %>"
                      cols="1" rows="1"
                      class="tasksTextArea autoresize expand17-99999 new_task_text">add new task</textarea>
              <span id="<%= "#{item_unique_id}_new_task_add_link" %>" class="add_task" style="display:none;">
                <%= link_to_add_task_fields "Add", project_form, :tasks, item_unique_id %>
              </span>
          </div>
        </div>
      </div>
      <div class="commentTableDiv">
        <div class="section">
          <div id="<%= "#{item_unique_id}_comments_header" %>" class="header">
            Comments <span class="commentCount">(<%= workable_item.comments.count %>)</span>
          </div>
          <table class="commentsTable">
            <tbody id="<%= "#{item_unique_id}_comments" %>">
            <% project_form.fields_for :comments do |comment_builder| %>
                <%= render :partial => 'workable_items/comment_fields', :locals => {:f => comment_builder} %>
            <% end %>
            </tbody>
          </table>
          <div class="add_comment">
            <textarea id="<%= "#{item_unique_id}_new_comment_description" %>"
                      cols="20" rows="1"
                      class="tasksTextArea autoresize expand17-99999 new_comment_text">add new comment</textarea>

            <div class="commentText">(Format using *<b>bold</b>* and _<i>italic</i>_ text.)</div>
              <span id="<%= "#{item_unique_id}_new_comment_add_link" %>" class="add_comment" style="display:none;">
                <%= link_to_add_comment_fields "Add", project_form, :comments, item_unique_id %>
              </span>
          </div>
        </div>
      </div>
    </div>


    <!--<div class="attachmentWidget">-->
    <!--<div>-->
    <!--<div class="section attachments" id="attachment_field_for_newStory">-->
    <!--<div class="header">Attachments <span class="count">(1)</span>-->
    <!--</div>-->
    <!--<ol class="attachments_list">-->
    <!--<li>-->
    <!--<div class="attachment_thumbnail">-->

    <!--<a tabindex="-1" data-new-window="true" href="/resource/download/4251343?inline=true">-->
    <!--<img class="resource_image" alt="bug_step1.jpg" src="https://s3.amazonaws.com/prod.tracker2/resource/4251343/bug_step1_thumb.jpg?AWSAccessKeyId=AKIAIKWOAN6H4H3QMJ6Q&amp;Expires=1325750055&amp;Signature=3V%2FEoKu6Dwm8GTRUp7eB4Evoh1E%3D">-->
    <!--</a>-->

    <!--</div>-->
    <!--<div class="attachment_details_container clearfix">-->
    <!--<ul class="attachment_details">-->
    <!--<li class="name">bug_step1.jpg-->
    <!--</li>-->
    <!--<li class="description" style="display: list-item;">-->
    <!--<a class="edit" href="#">add a description</a>-->
    <!--</li>-->
    <!--<li class="edit_description" style="display: none;">-->
    <!--<input type="text" maxlength="255" name="description">-->
    <!--<button>Save</button>-->
    <!--or <a class="cancel" href="#">cancel</a>-->
    <!--</li>-->
    <!--<li class="uploader">Uploaded by Sanjeev Kumar Mishra</li>-->
    <!--<li class="metadata">77 KB<span> on 29 Dec 2011, 1:24pm</span>-->
    <!--</li>-->
    <!--<li class="actions">-->
    <!--<a href="/resource/download/4251343">Download</a>-->

    <!--| <a href="#" class="remove">Remove</a>-->

    <!--</li>-->

    <!--</ul>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <!--</div>-->
    <!--</div>-->
    <!--<form class="attachment_form jquery_file_upload" enctype="multipart/form-data" method="POST" action="/api/resource/upload?project_id=68195">-->
    <!--<div class="attachment_controls_wrapper">-->
    <!--<input type="file" multiple="" name="Filedata">-->
    <!--</div>-->
    <!--<div class="attach_files">-->
    <!--<span class="upload_button">Upload Files</span>-->

    <!--<span class="text">or, drag them onto this story</span>-->
    <!--</div>-->
    <!--<div style="display: none;" class="error_message">-->
    <!--</div>-->
    <!--</form>-->
    <!--</div>-->
    </div>
    <%= project_form.hidden_field :category %>
    <%= project_form.hidden_field :priority %>
    <%= project_form.hidden_field :epic_id %>
    <%= project_form.hidden_field :project_id, {:value => workable_item.project.id} %>
<% end %>
</div>
</div>