<h1><%= @workable_item.type %> for : <%= @workable_item.project.name %></h1>
<p>
  <b>Type:</b>
  <%= @workable_item.type %>
</p>
<% if @workable_item.epic.present? %>
    <p>
      <b>Related Epic:</b>
      <%= link_to @workable_item.epic.title, epic_path(@workable_item.epic)%>

    </p>
<% end %>
<p>
  <b>Title:</b>
  <%= @workable_item.title %>
</p>

<p>
  <b>Description:</b>
  <%= @workable_item.description %>
</p>

<p>
  <b>Requester:</b>
  <%= User.find(@workable_item.requester).email %>
</p>

<p>
  <b>Owner:</b>
  <%= @workable_item.owner.present? ? User.find(@workable_item.owner).email : '-' %>
</p>

<p>
  <b>Present Under:</b>
  <%= @workable_item.category %>
</p>
<p>
  <b>Estimate Pts:</b>
  <%= @workable_item.estimate %>
</p>

<p>
  <b>Status:</b>
  <%= @workable_item.status %>
</p>

<h2>Tasks:</h2>

<% if @workable_item.tasks.present? %>
    <%= render :partial => 'tasks/tasks_collection', :locals => {:tasks => @workable_item.tasks} %>
<% else %>
    No Tasks!
<% end %>
<% if !@workable_item.accepted? %>
    <%= link_to 'Add Task', new_task_path(:workable_item => @workable_item) %>
<% end %>

<h2>Comments:</h2>

<% if @workable_item.comments.present? %>
    <%= render :partial => 'comments/comments_collection', :locals => {:comments => @workable_item.comments} %>
<% else %>
    No Comments!
<% end %>
<% if !@workable_item.accepted? %>
    <%= link_to 'Add Comment', new_comment_path(:workable_item => @workable_item) %>
<% end %>

<br/>
<br/>
<%= link_to @workable_item.project.name, project_path(@workable_item.project) %>
<% if !@workable_item.accepted? %>
    | <%= link_to 'Edit', edit_workable_item_path(@workable_item) %>
    | <%= render :partial => 'workable_item_actions', :locals => {:workable_item => @workable_item} %>
<% end %>