<% user = project_user.user %>
<tr id="<%= "#{user.id}_member_invitation" %>">
  <td class="name">
    <%= user.name %>
  </td>
  <td class="initials"><%= user.initials %></td>
  <td class="email"><%= user.email %></td>
  <td class="invited_by_email"><%= user.invited_by.present? ? user.invited_by.display_name : "-"%></td>
  <input type="hidden" value="<%= project_user.project_id%>" id="<%=project_user.id%>_project">
  <td class="role">
    <%= collection_select user.id,
                          :role, ProjectUser::ROLES, :to_s, :humanize,
                          {:selected => project_user.role},
                          {:class => "member_role", :id => project_user.id} %>
  </td>
  <td class="invitations">
    <span><%= project_user.active? ? "Yes" : "No Yet" %></span>
  </td>
  <td class="remove">
    <% if current_user.can_manage_members_of(@project) %>
    <%= link_to 'Remove',
                project_project_user_path(project_user.project, project_user),
                :confirm => "Are you sure you want to remove #{project_user.user.display_name} from the project?",
                :title => "Terminate membership from the project",
                :method => :delete,
                :remote => true %>
        <% end %>
  </td>
</tr>