<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title><%= content_for?(:title) ? yield(:title) + " - White Apple!!" : "You Agiled Me!!" %></title>
  <%= stylesheet_link_tag 'application',
                          'project_view',
                          'project_pages',
                          'token-input-facebook',
                          'control_panel',
                          'jquery-ui-1.8.16.custom',
                          'ie9', 'ie', :cache => true %>
  <!--[if gte IE 9]>
      <%= stylesheet_link_tag 'ie9' %>
    <![endif]-->
  <!--[if lte IE 8]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
  <%= javascript_include_tag "jquery-1.7.1.min",
                             "jquery-ui-1.8.16.custom.min",
                             "jquery.tokeninput",
                             "application",
                             "rails",
                             'highcharts', :cache => true %>

  <%= csrf_meta_tag %>
</head>
<body>

<div class="clearfix" id="header">
  <h1><a href="/">WHITE APPLE </a></h1>

  <div class="navigation_area clearfix">
    <% if !user_signed_in? %>
        <div class="welcome_message">
          Call Us: +91-80-42414300
        </div>
        <ul class="nav_links">
          <li><%= link_to 'Sign In', new_user_session_path, :class => (current_page?(new_user_session_path) ? 'current' : '')  %></li>
          <li><%= link_to 'Register', new_user_registration_path, :class => (current_page?(new_user_registration_path) ? 'current' : '') %></li>
          <li>
        </ul>
    <% else %>
        <div class="welcome_message">
          Welcome, <%= current_user.display_name %>
        </div>
        <ul class="nav_links">
          <% %>
          <li class="dashboard"><%= link_to "Dashboard", root_path, :class => (current_page?(root_path) ? 'current' : '') %></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
          <li>
        </ul>
    <% end %>
  </div>

  <div class="notice" style="display:none;"></div>
  <% if notice.present? %>
      <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert.present? %>
      <div class="alert"><%= alert %></div>
  <% end %>
</div>

<div class="main">
  <div class="content">
    <%= yield %>
    <div class="clear"></div>
  </div>
  <div class="footerWrapper">
    <div class="footer">
      <div class="footerContent">
        <p class="copyright">© 2011 White Apple Pvt. Ltd. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
