<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title><%= content_for?(:title) ? yield(:title) : "You Agiled Me!!" %></title>
  <%= stylesheet_link_tag 'application', :cache => true %>
  <!--[if gte IE 9]>
      <%= stylesheet_link_tag 'ie9' %>
    <![endif]-->
  <!--[if lte IE 8]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
  <%= javascript_include_tag :all, :cache => true %>

  <%= csrf_meta_tag %>
</head>
<body>
<div class="mainWrapper">
  <div class="contentWrapper">
    <div class="header">
      <h1 class="logo">
        <a href="/" title="AGILED">WHITE APPLE</a>
      </h1>

      <p class="call" title="Call Us"><span></span>Call Us: +91-80-42414300</p>
      <div class="main_menu_links">
        <% if user_signed_in? %>
            Welcome <%= current_user.email %> | <%= link_to 'Logout', destroy_user_session_path %>
        <% else %>
            <%= link_to 'Login', new_user_session_path %>
            <%= link_to 'SignUp', new_user_registration_path %>
        <% end %>
      </div>
      <ul class="navigation">
        <li class="<%=  current_page?(root_path) ? 'selected':'not_selected'%>"><%= link_to "Home", root_path %></li>
      </ul>
    </div>
    <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <div class="footerWrapper">
    <div class="footer">
      <div class="footerContent">
        <div id="courses" class="floatedBlock">
        </div>
        <div class="floatedBlock">
          <h4>SOLARO Links</h4>
          <ul>
            <li><a href="/what_is_solaro">What Is SOLARO?</a></li>
            <li><a href="/students">For Students</a></li>
            <li><a href="/parents">For Parents</a></li>
            <li><a href="/teachers">For Teachers</a></li>
            <li><a href="/schools">For Schools</a></li>
            <li><a href="/product_specs">Product Specs</a></li>
            <li><a href="/mobile">SOLARO Mobile</a></li>
          </ul>
        </div>
        <div class="floatedBlock">
          <h4>Company</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/partners">Partners</a></li>
          </ul>
        </div>
        <div class="floatedBlock">
          <h4>Support</h4>
          <ul>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/toc">Terms of Agreement</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="floatedBlock last">
          <h4>Follow us</h4>
          <ul>
            <li class="facebook"><a href="http://www.facebook.com/SOLAROIndia" title="Follow us on Facebook" target="_blank">Facebook</a></li>
            <li class="twitter"><a href="http://twitter.com/#!/solaroindia" title="Follow us on Twitter" target="_blank">Twitter</a></li>
          </ul>
        </div>
        <p class="copyright">© 2011 Castle Rock Research Information Pvt. Ltd. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
