<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <title><%= content_for?(:title) ? yield(:title) + " - SCRUM COOK!!" : "You Agiled Me!!" %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>
  <script>

      //do not move this to application.js, otherwise all the non GET ajax request
      // will start resulting into a session logout because the WARNING: Can't verify CSRF token authenticity
      $(document).ajaxSend(
              function(e, xhr, options) {
                  $(".ajax-loader").show();
                  var token = $("meta[name='csrf-token']").attr("content");
                  xhr.setRequestHeader("X-CSRF-Token", token);
              }).ajaxComplete(function() {
          $(".ajax-loader").hide();
      });
  </script>
</head>
<body>

<div class="clearfix" id="header">
  <h1><a href="/"><%= image_tag 'icon_048.png', :class => "icon" %>SCRUM COOK</a></h1>
  <div class="navigation_area clearfix">
    <% if !user_signed_in? %>
        <div class="welcome_message">
          Call Us: +91-80-42414300
        </div>
        <ul class="nav_links">
          <li><%= link_to 'Sign In', new_user_session_path, :class => (current_page?(new_user_session_path) ? 'current' : '') %></li>
          <li><%= link_to 'Register', new_user_registration_path, :class => (current_page?(new_user_registration_path) ? 'current' : '') %></li>
          <li>
        </ul>
    <% else %>
        <div class="welcome_message">
          Welcome, <%= current_user.display_name %>
        </div>
        <ul class="nav_links">
          <% %>
          <li class="dashboard"><%= link_to "Dashboard", root_path, :class => (current_page?(root_path) ? 'current' : '') %></li>
          <li><a title="Coming Soon" href="#">Reports</a></li>
          <li><a title="Coming Soon" href="#">Profile</a></li>
          <li><a title="Coming Soon" href="#">Help</a></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
          <li>
        </ul>
    <% end %>
  </div>

  <div class="notice" style="display:none;"></div>
  <% if notice.present? %>
      <div class="notice"><%= notice %></div>
  <% end %>
  <% if alert.present? %>
      <div class="alert"><%= alert %></div>
  <% end %>
</div>

<div class="main">
  <div class="<%= !user_signed_in? ? "content center" : "content" %>" >
    <%= yield %>
    <div class="clear"></div>
  </div>
  <div class="footerWrapper">
    <div class="footer">
      <div class="footerContent">
        <p class="copyright">© 2011 SCRUM COOK Pvt. Ltd. All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
