<% title "Register ... Create a Free Account" %>
<div class="registration">
  <h3>Register ... Create a Free Account</h3>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
        <%= f.email_field :email %></div>

      <div><%= f.label :password %>
        <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>

      <span class="redButton"><input type="submit" value="Sign Up Now"/></span>
  <% end %>

  <%= render :partial => "users/shared/links" %>
</div>